* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #1a1a1a;
}

#root {
  width: 100%;
  background-color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
}
